# Ramyasahithya Magani - G01425752
# Arsitha Sathu - G01445215
# Athiksha Venkannagari - G01461169
# Sreshta Kosaraju - G01460468


# service.yaml file has surveydata-service that exposes the application with a NodePort type, 
# allowing external access to the application on ports 8080(HTTP) and 443(HTTPS).
# It routes traffic to pods labeled with app:surveydata, targeting port 8080 within those pods.

apiVersion: v1
kind: Service
metadata:
  name: surveydata-service
  labels:
    run: surveydata
spec:
  selector:
    app: surveydata
  type: NodePort
  ports:
    - port: 8080
      targetPort: 8080
      protocol: TCP
      name: http
    - port: 443
      protocol: TCP
      name: https
